apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-main
  namespace: default 
spec:
  instances: 1

  bootstrap:
    initdb:
      database: mmo 
      owner: mmo
      secret:
        name: pg-secret 

  storage:
    size: 10Gi
    storageClass: local-path
    # TODO: Use longhorn when we have better hardware
    # storageClass: longhorn

  # For a homelab, this allows the operator to automatically restart the
  # primary instance after a configuration change or upgrade.
  primaryUpdateStrategy: unsupervised
