apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  # TODO: Set provider using overlay
  provider:
    vault:
      server: "http://192.168.1.52:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "eso-role"
          serviceAccountRef:
            name: external-secrets
            namespace: external-secrets
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pg-secret
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend

  target:
    name: pg-secret
    creationPolicy: Owner

  data:
  - secretKey: username
    remoteRef:
      key: infrastructure/postgres
      property: username
  - secretKey: password
    remoteRef:
      key: infrastructure/postgres
      property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: netcode-secret
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend

  target:
    name: netcode-secret
    creationPolicy: Owner

  data:
  - secretKey: private-key
    remoteRef:
      key: app/netcode-private-key
      property: private-key
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jwt-secret
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend

  target:
    name: jwt-secret
    creationPolicy: Owner

  data:
  - secretKey: signing-key
    remoteRef:
      key: app/jwt
      property: secret
---
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: cloudflare-secret
  namespace: default
spec:
  externalSecretName: cloudflare-secret

  refreshTime: 5m

  namespaceSelector:
    matchLabels: 
      inject-cloudflare: "true"

  externalSecretSpec:
    refreshInterval: 5m
    secretStoreRef:
      kind: ClusterSecretStore
      name: vault-backend

    target:
      name: cloudflare-secret
      creationPolicy: Owner

    data:
    - secretKey: api-token
      remoteRef:
        key: api/cloudflare-token
        property: token

