apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  # TODO: Set provider using overlay
  provider:
    vault:
      server: "http://192.168.1.50:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "eso-role"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pg-secret
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: SecretStore
    name: vault-backend

  target:
    name: pg-secret
    creationPolicy: Owner

  data:
  - secretKey: username
    remoteRef:
      key: infrastructure/postgres
      property: username
  - secretKey: password
    remoteRef:
      key: infrastructure/postgres
      property: password
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: netcode-secret
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: SecretStore
    name: vault-backend

  target:
    name: netcode-secret
    creationPolicy: Owner

  data:
  - secretKey: private-key
    remoteRef:
      key: app/netcode-private-key
      property: private-key
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: jwt-secret
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: SecretStore
    name: vault-backend

  target:
    name: jwt-secret
    creationPolicy: Owner

  data:
  - secretKey: private-key
    remoteRef:
      key: app/jwt
      property: secret
