apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server
spec:
  template:
    spec:
      containers:
        - name: web-server
          image: web-server:main-74bc879-1763325478 # {"$imagepolicy": "flux-system:web-server"}
