apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server
spec:
  template:
    spec:
      containers:
        - name: web-server
          image: web-server:9b3eb1dc3ef759c12eb58bdde3c77c0cb0ed17f0
